<%- include('partials/head')%>
<%- include('partials/navBar')%>

<div class="container-fluid text-center">
    <h3>This is the product page for:</h3>
    <ul class="list-unstyled">
        <li><%= product.name %></li>
        <li><%= product.brand %></li>
        <li><%= product.diameter %>mm</li>
        <li><%= product.length %>m</li>
    </ul>
    <div class="container-xxl">
        <table style="width: 100%"  class="table table-hover table-borderless table-sm">
            <thead>
                <th>Name</th>
                <th>Base Price</th>
                <th>Discount</th>
                <th>Shipping</th>
                <th>Total Price</th>
            </thead>
            <tbody>
                <% for(let entry of product.seller) { %>
                <tr>
                    <td><%= entry.name %></td>
                    <td>$<%= entry.basePrice %></td>
                    <td><%= entry.discount %>%</td>
                    <td><%= entry.shipping %></td>
                    <td>$<%= entry.totalPrice %></td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
    <a class="link" href="/products/ropes">Go Back</a>
</div>

<%- include('partials/footer')%>